<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navba-inner" >
    <div class="container" id="header_left">
      <div id="linky" style="margin-left:20%;"><%= link_to "PalsPage", '#', id: "logo" %></div>
      </div>
      <div id="eg" style="position:absolute;">
        <ul class="nav pull-right" style="margin-top:-35px;">
          <li><%= link_to "Home",    'home' %></li>
          <li><%= link_to "Help",    'help' %></li>
	  <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </div>

       <div class="container" id="header_right">
      <div id="linky2" style="margin-left:20%; margin-top:10%;"></div>
      <div id="name" style="margin-left:20%; color:white; cursor:pointer;">Sunny N Sharma</div>
    </div>
    
  </div>
</header>
